DROP FUNCTION [dbo].[F_年度]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_年度] (@日付 date)
RETURNS int
AS BEGIN
    DECLARE @Work int

	SELECT @Work = CASE WHEN MONTH(@日付)<=2 THEN YEAR(@日付)-1 ELSE YEAR(@日付) END

    RETURN @work
END

GO
